@use "variables";
@use "mixin";


#cart-main{
    display: flex; 
    width: 100vw; 
    align-items: center;
    justify-content: center;
    color: rgb(variables.$font-blue, 1);

.cart-cotainer{
    margin: 2rem;
    max-width: 100rem;
    width: 60%;
    min-height: 60rem;

    border-radius: 10px;

    box-shadow: 10px 10px 10px rgb(variables.$font-blue, 0.3),10px 10px 10px rgb(variables.$font-blue, 0.3), 10px 10px 10px rgb(variables.$font-blue, 0.3), 10px 10px 10px rgb(variables.$font-blue, 0.3) ;
    display: flex;
    background-color:rgb(variables.$blue, 0.1) ;
    .cart-cotainer-1, .cart-cotainer-2{
        padding: 1rem;
        display: flex;
    }
     .cart-cotainer-1{
        flex-direction: column;
        gap: 2rem;
        width: 70%;
        .cart-item{
            display: flex;
            position: relative;
            width: 100%;
            border-radius: 16px;
            background-color: variables.$white;
            gap: 2rem;
            padding: 2rem;
            align-items: center;
            .cart-item-img{
                width: 15rem;
                height: 11rem;
                margin-right: 1rem;
          
             
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                          border-radius: 8px;
                }
            }

            .cart-item-details{
                .cart-item-header{
                     header{
                    font-size: 2rem;
                    font-weight: bold;
                     }
                    .cart-item-Vendor{
                        font-size: 1rem;
                    }
                }
                .cart-priceContainer{
                     .items-content-main-price {
                      justify-content: start !important;

                        span{
                            margin-right: 5px;
                        }
          color: variables.$font-blue;
          font-size: 1rem;
          margin-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: center; 
        .items-content-main-price-offer {
      
            background-color: rgb(variables.$font-blue, 1);
            color: variables.$white;
            padding: 0.2rem 0.5rem;
            border-radius: 8px;
            font-size: 1rem;
           
          }
        }
      
                }

                 .cart-items-weight{
        
                    font-size: 1rem;
                    background-color: rgb(variables.$font-blue, 1);
                    color: variables.$white;
                    padding: 0.2rem 0.5rem;
                    border-radius: 8px;
                    width: fit-content;
                }

                .cart-item-quantity{
                    label{
                        font-size: 2rem;
                        margin-left: 2rem;
                    }
                    input{
                        border: none;
                        color: rgb(variables.$font-blue, 1);
                        font-size: 2rem;
                        appearance: none;
                       width: 2rem;
                      

                    }
                    input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
                }

                .cart-item-input-change{
                    display: block;
                button{
                    color: rgb(variables.$white, 1);
                    background-color: rgb(variables.$font-blue, 1);
                    border: none;
                  
                    padding: 0.2rem 0.5rem;
                    font-size: 1.3rem;
                    border-radius: 6px;
                }
                }
                .cart-item-delivery{
                    position: absolute;
                    right: 1rem;
                    font-size: 1.2rem;
                    top: 1rem;
                }
               

            }
        }
     }

     .cart-cotainer-2{
        width: 35%;
        padding-left: 2rem;
        flex-direction: column;

        .offer-animi{

        }

        .cart-items-price{
            background-color: rgb(variables.$white, 1);
            border-radius: 8px;
            padding: 1rem;
            section{
                font-family: variables.$font-header-para;
                display: flex;
                justify-content: space-between;
                margin-bottom: 2rem;
            }
            .cart-item-price-detials{
                font-family: variables.$rating-value-font;
                opacity: 0.5;
                border-bottom: 1px solid ;
            }
            
            .cart-items-nos-and-price{
                margin-top: 1rem;
            }

            .cart-items-totel{
                border-bottom: dashed 1px;
                border-top: dashed 1px;
                padding-top: 1rem;
                padding-bottom: 1rem;
                font-size: 2rem;

            }
        
        }

    }
}
    
}