@use "variables";

@mixin flexDefault(
  $display: flex,
  $content: space-between,
  $item: center,
  $direction: column
) {
  display: $display;
  justify-content: $content;
  align-items: $item;
  flex-direction: $direction;
}

@mixin filterBtn {
  background-color: rgb(variables.$black, 0.7);
  font-size: 1.3rem;
  padding: 1rem 2rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  span {
    position: relative;
    top: 2px;
    padding-left: 10px;
    svg {
      width: 10px;
    }
  }
}

@mixin productItems {
  .product-container {
    font-family: variables.$product_font;
    object-fit: contain;
    box-shadow: 2px 5px 10px variables.$black;
    border-radius: 8px;
    background-color: variables.$white;
    a {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 30rem;
      border-radius: 8px;

      overflow: hidden;
      color: black;

      .product-item-trend,
      .product-offer-price {
        position: absolute;
        color: variables.$white;
        padding: 2px 5px;
        font-size: 1.3rem;
      }
      .product-offer-price {
        border-radius: 4px;
        background-color: variables.$product_font_offer_color;
        left: 0;
      }
      .product-item-trend {
        border-radius: 4px;
        right: 0;
        background-color: variables.$product_font_trend_color;
      }
      .product-item-name-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .product-item-name {
          font-size: 1.4rem;
        }
        .product-item-rating {
          align-items: center;
          display: flex;
          position: relative;
          border-radius: 4px;
          font-size: 1rem;
          padding: 2px 4px;
          background-color: variables.$product_font_offer_color;
          color: variables.$white;
          svg {
            stroke: variables.$white;
            position: relative;
            top: 1px;
            transform: scale(0.5);
          }
        }
      }
      .product-item-details-main {
        display: flex;
        margin-top: 1rem;
        font-size: 1.2rem;
        justify-content: space-between;
        padding: 2rem;
        align-items: center;
        .product-item-action {
          display: flex;
          flex-direction: column;
          align-items: center;
          .product-item-btn {
            padding: 5px 0;
            width: 5rem;
            background-color: variables.$red;
            border: none;
            color: variables.$white;
            border-radius: 4px;
          }
          .product-item-add-coust {
            margin-top: 10px;
            font-size: 1rem;
            opacity: 0.5;
          }
        }
      }

      img {
        width: 30rem;
        height: 18rem;
        object-fit: fill;
      }
    }
  }
}

@mixin preview-next {
  color: variables.$blue;
  padding: 1rem 2rem;
  font-family: variables.$preview-next-font;
  cursor: pointer;
}

@mixin PriceForm {
  display: none;
  z-index: 3;
  position: absolute;
  width: 120%;
  top: 102%;
  left: -20%;
  background-color: rgb(variables.$filter_font_color, 0.8);
  color: variables.$black;
  border-radius: 4px;
}

@mixin PriceFormHover {
  padding: 1rem 2rem;
  border-bottom: 0.5px solid variables.$black;
  display: flex;
  align-items: center;
  &:hover {
    background-color: rgb(variables.$filter_font_color, 1);
  }
}

@mixin user_review {
  .items-reviews-user-reviews {
    background-color: rgb(variables.$font-blue, 0.2);
    padding: 3rem 3rem;
    .items-reviews-user-reviews-img-span {
      display: flex;
      align-items: center;
      padding: 1rem;

      .items-reviews-user-reviews-img {
        width: 5rem;
        border-radius: 50%;
      }
      .items-reviews-user-reviews-name {
        margin-left: 1rem;
        font-size: 1.4rem;
      }
      .items-reviews-user-reviews-name-verified {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 1rem;
        font-size: 1rem;
        background-color: variables.$verified-color;
        color: variables.$white;
        border-radius: 8px;
        transform: scale(0.8);
        opacity: 0.5;
        svg {
          position: relative;
          top: -2px;
          margin-left: 3px;
          width: 10px;
          fill: white;
          stroke: white;
        }
      }
    }
    .items-reviews-user-rating {
      display: flex;
      align-items: center;
      gap: 1rem;
      .items-reviews-user-rating-value {
        background-color: variables.$rating-5-star;
        color: variables.$white;
        padding: 5px 10px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        svg {
          margin-left: 5px;
          width: 1rem;
          fill: variables.$white;
          stroke: variables.$white;
        }
      }
      .items-reviews-user-rating-dot {
        width: 4px;
        height: 4px;
        background-color: rgb(variables.$black, 0.5);
        border-radius: 50%;
      }

      .items-reviews-user-rating-date {
        opacity: 0.5;
        font-size: 1rem;
      }
    }

    .items-reviews-user-rating-message {
      margin-top: 1rem;
      display: block;
      p {
        font-size: 1.1rem;
      }
      .items-reviews-user-rating-message-img {
        display: flex;
        gap: 1rem;
        img {
          width: 5rem;
        }
      }
    }
  }
}


@mixin  header-font {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

@mixin  header-small {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}


@mixin param-font {

  font-family: 'Inter', sans-serif;
  font-weight: 400;

}

@mixin description-font{
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}