@use "variables";
@use "mixin";

#main-polices {
  display: block;
  width: 100vw;
  .polices-main {
    width: 75vw;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .polices-header-main {
      text-align: center;
    }
    .polices-container {
      margin-top: 4rem;
      .polices-container-content {
        position: relative;
        left: 2rem;
        font-family: variables.$font-header-para;
        font-size: 2rem;

        ul {
          list-style-type: circle;
          margin-left: 5rem;
        }
      }
    }
    .polices-header {
      font-size: 2.5rem;
      font-family: variables.$font-header-polices;
      letter-spacing: 2px;
    }
  }
}

#logout-warning-message {
  width: 100vw;
  height: 100vh;
  background-color: rgb(variables.$black, 0.4);
  position: absolute;
  top: 1px;
  overflow: hidden;

  #logout-warning-message-main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 10;

    .logout-message-cont {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 15rem;
      padding: 3rem 5rem;
      background-color: variables.$verified-color;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      .logout-cancel {
        position: absolute;
        top: 10px;
        right: 10px;
      }
      button {
        border: 1px solid variables.$white;
        color: variables.$white;
        padding: 5px 1rem;
        background-color: transparent;
      }
    }
  }
}
