@import url("https://fonts.googleapis.com/css?family=Anonymous Pro");
@import url("https://fonts.googleapis.com/css?family=Farro");
@import url("https://fonts.googleapis.com/css?family=Beiruti");
@import url("https://fonts.googleapis.com/css?family=Armata");
@import url("https://fonts.googleapis.com/css?family=Doppio One");
@import url("https://fonts.googleapis.com/css?family=Bungee Hairline");
@import url("https://fonts.googleapis.com/css?family=Encode Sans Semi Expanded");
@import url("https://fonts.googleapis.com/css?family=Francois One");
@import url("https://fonts.googleapis.com/css?family=Suez One");
@import url("https://fonts.googleapis.com/css?family=Alatsi");
@import url("https://fonts.googleapis.com/css?family=Hubballi");
@import url("https://fonts.googleapis.com/css?family=Kanit");

//Offer Section
$offer_font: "Anonymous Pro";
$offer_font_color: #FEB329;
$logo_font: "Suez One";
$logo_color: #241301;

// nav section
$nav_font_color: "Farro";

// about - mom's and policy

$about_moms_font: "Beiruti";

// product - mom's
$product_font_offer_color: rgb(110, 167, 110);
$product_font_trend_color: rgb(246, 114, 94);
$product_font: "Armata";

// filter-option
$filter_font_color: #FEB329;
$filter_font: "Armata";

/// preview and next
$preview-next-font: "Doppio One";

// color in admin panel

$white: white;
$black: black;
$red: red;
$blue: #3e6f75;
$font-blue: #3e6f75;

// items color
$item-font-color: #EC9A41;
$font-item: "Bungee Hairline";
$font-item-para: "Encode Sans Semi Expanded";

// rating
$rating-value-font: "Francois One";

$rating-container: #dedede;
$rating-1-star: #ff4c4c;
$rating-2-star: #ff914c;
$rating-3-star: #d3e01d;
$rating-4-star: #a6e22e;
$rating-5-star: #2ecc71;
$verified-color: rgb(30, 74, 171);

// verify otp

$font-otp-change: "Alatsi";

// polices
$font-header-polices: "Kanit";
$font-header-para: "Hubballi";
